{#all.html#}
{% extends 'base.html' %}
{% block content %}
    <table>
        <tr>
            <th>序号</th>
            <th>资产编号</th>
            <th>设备名称</th>
            <th>入账日期</th>
            <th>是否报废</th>
            <th>使用部门</th>
            <th>保管员</th>
        </tr>
        {% for asset in asset_list %}
            <tr>
                <td>#</td>
                <td>{{ asset }}</td>
                <td>{{ asset.fname }}</td>
                <td>{{ asset.fdate_rz }}</td>
                <td>{% if asset.smark %}
                    是
                    {% else %}
                    否
                {% endif %}</td>
                <td>{{ asset.fdep }}</td>
                <td>{{ asset.fuser }}</td>
            </tr>

        {% endfor %}

    </table>
{% endblock %}