<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block link %}
        <!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    {% endblock %}
    {% block title %}
        <title>固定资产管理</title>
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">IT固定资产管理</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">更新 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">新增</a></li>
                            <li><a href="#">变更</a></li>
                            <li><a href="#">报废</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">清单 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="all">全部</a></li>
                            <li><a href="#">在账</a></li>
                            <li><a href="#">报废</a></li>
                            <li class="divider"></li>
                            <li><a href="#">0-3年</a></li>
{#                            <li class="divider"></li>#}
                            <li><a href="#">3-5年</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search" method="post" action="/detail/">
                    <div class="form-group">
{#                        <input type="text" class="form-control" placeholder="Search">#}
                        {% csrf_token %}
                        {{ asset.gdzc }}
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>
                {% comment %}<form  method="post" action="/detail/">
    {% csrf_token %}
    {{ asset.as_p }}
    <input type="submit" value="提交">
</form>{% endcomment %}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                    <li><a href="#">Link</a></li>#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>#}
{#                        <ul class="dropdown-menu" role="menu">#}
{#                            <li><a href="#">Action</a></li>#}
{#                            <li><a href="#">Another action</a></li>#}
{#                            <li><a href="#">Something else here</a></li>#}
{#                            <li class="divider"></li>#}
{#                            <li><a href="#">Separated link</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

{% endblock %}
{% block content %}
<form  method="post" action="/detail/">
    {% csrf_token %}
    {{ asset.as_p }}
    <input type="submit" value="提交">
    </form>
{% endblock %}

</body>
</html>